Repository tt-bot-dev/languages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tt-bot-dev/maintainers, @tttie, @tt-bot-dev/cs-cz, @tt-bot-dev/sk-sk, @tt-bot-dev/ro-ro

.github/CODEOWNERS:

# When the language isn't known or is being added, notify the maintainers
*       @tt-bot-dev/maintainers

# Lookie here, something in English is borked. Notify maintainers
en.js   @tt-bot-dev/maintainers

# trans.js is a language that allows you to show contexts. Don't disturb Vlag in this case, because it's my borks.
trans.js @tttie

# Notify the translators.
cs-*.js @tt-bot-dev/cs-cz
sk-*.js @tt-bot-dev/sk-sk
ro-*.js @tt-bot-dev/ro-ro

Nitránske nárečí
  sk-NR.js
Owners: @tt-bot-dev/sk-sk

rumumské tance
  sk-NR.js
Owners: @tt-bot-dev/sk-sk

Update README.md
  README.md
Owners: @tt-bot-dev/maintainers

rumunské tance
  cs-CZ.js
  en.js
Owners: @tt-bot-dev/cs-cz, @tt-bot-dev/maintainers

Ještě větší rumunské tance
  cs-CZ.js
Owners: @tt-bot-dev/cs-cz

nitránčina neni dobrá pre rumunov
  sk-NR.js
Owners: @tt-bot-dev/sk-sk

opravili súdruzi
  sk-SK.js
Owners: @tt-bot-dev/sk-sk

nitránčina neni dobrá pre rumunov (#4)
  sk-NR.js
Owners: @tt-bot-dev/sk-sk

Make stuff beautifuler
  README.md
  trans.js
Owners: @tt-bot-dev/maintainers, @tttie

align the tables to the left because centering doesn't look good
  README.md
Owners: @tt-bot-dev/maintainers

Add a wall of text aka how to add a language
  README.md
Owners: @tt-bot-dev/maintainers

súdruh, móže to byť takto?
  sk-NR.js
Owners: @tt-bot-dev/sk-sk

súdruh, móže to byť takto? (#7)
  sk-NR.js
Owners: @tt-bot-dev/sk-sk

Add in the language files
  cs-CZ.js
  en.js
Owners: @tt-bot-dev/cs-cz, @tt-bot-dev/maintainers

nitránčina na tance
  sk-NR.js
Owners: @tt-bot-dev/sk-sk

slovenčína
  sk-SK.js
Owners: @tt-bot-dev/sk-sk

nitránčina na tance (#8)
  sk-NR.js
Owners: @tt-bot-dev/sk-sk

slovenčína (#9)
  sk-SK.js
Owners: @tt-bot-dev/sk-sk

Ondil trochu moc...
  sk-NR.js
Owners: @tt-bot-dev/sk-sk

Oof
  cs-CZ.js
  en.js
Owners: @tt-bot-dev/cs-cz, @tt-bot-dev/maintainers

aktualizácia 1/2 z MacBooku
  sk-NR.js
Owners: @tt-bot-dev/sk-sk

aktualizácia 1/2 z MacBooku (#10)
  sk-NR.js
Owners: @tt-bot-dev/sk-sk

Aktualizácia 2/2 z MacBooku
  sk-SK.js
Owners: @tt-bot-dev/sk-sk

Aktualizácia 2/2 z MacBooku (#11)
  sk-SK.js
Owners: @tt-bot-dev/sk-sk

Prý už posílají pozdravy
  ro-RO.js
Owners: @tt-bot-dev/ro-ro

Update Romanian (#12)
  ro-RO.js
Owners: @tt-bot-dev/ro-ro

3.1.0 translations
  cs-CZ.js
  en.js
Owners: @tt-bot-dev/cs-cz, @tt-bot-dev/maintainers

sk-SK - 78.80% > 100%
  sk-SK.js
Owners: @tt-bot-dev/sk-sk

sk-SK - 78.80% > 100% (#13)
  sk-SK.js
Owners: @tt-bot-dev/sk-sk

remove annoying "<"
  cs-CZ.js
Owners: @tt-bot-dev/cs-cz

remove annoying "<"
  en.js
Owners: @tt-bot-dev/maintainers

remove annoying "<"
  ro-RO.js
Owners: @tt-bot-dev/ro-ro

remove annoying "<"
  sk-NR.js
Owners: @tt-bot-dev/sk-sk

<remove annoying "<"
  sk-SK.js
Owners: @tt-bot-dev/sk-sk

Pushin' v3.2 RC strings
  en.js
Owners: @tt-bot-dev/maintainers

Commit of v3.2 Czech, fallbackLanguage
  cs-CZ.js
  en.js
  ro-RO.js
  sk-NR.js
  sk-SK.js
Owners: @tt-bot-dev/cs-cz, @tt-bot-dev/maintainers, @tt-bot-dev/ro-ro, @tt-bot-dev/sk-sk

I feel that using Czech as Slovak fallback would be better
  sk-SK.js
Owners: @tt-bot-dev/sk-sk

Make README.md more friendly
  README.md
Owners: @tt-bot-dev/maintainers

Modify the links to new doc links
  cs-CZ.js
  en.js
  sk-SK.js
Owners: @tt-bot-dev/cs-cz, @tt-bot-dev/maintainers, @tt-bot-dev/sk-sk

V3.2 rc (#15)
  README.md
  cs-CZ.js
  en.js
  ro-RO.js
  sk-NR.js
  sk-SK.js
Owners: @tt-bot-dev/maintainers, @tt-bot-dev/cs-cz, @tt-bot-dev/ro-ro, @tt-bot-dev/sk-sk
