Repository tt-bot-dev/languages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tt-bot-dev/maintainers, @tttie, @tt-bot-dev/cs-cz, @tt-bot-dev/sk-sk, @tt-bot-dev/ro-ro

Commit off a certain help command change
  cs-CZ.js
  en.js
  ro-RO.js
  sk-NR.js
  sk-SK.js
  trans.js
Owners: @tt-bot-dev/cs-cz, @tt-bot-dev/maintainers, @tt-bot-dev/ro-ro, @tt-bot-dev/sk-sk, @tttie

Add USER_NOT_FOUND
  cs-CZ.js
  en.js
Owners: @tt-bot-dev/cs-cz, @tt-bot-dev/maintainers

Use permissionless invite links
  cs-CZ.js
  en.js
  ro-RO.js
  sk-NR.js
  sk-SK.js
Owners: @tt-bot-dev/cs-cz, @tt-bot-dev/maintainers, @tt-bot-dev/ro-ro, @tt-bot-dev/sk-sk

Switch to a tt-bot-dev repo for Romanian
  ro-RO.js
Owners: @tt-bot-dev/ro-ro

Replace the rawgit link with a link to wikipedia
  cs-CZ.js
  en.js
  ro-RO.js
  sk-NR.js
  sk-SK.js
Owners: @tt-bot-dev/cs-cz, @tt-bot-dev/maintainers, @tt-bot-dev/ro-ro, @tt-bot-dev/sk-sk

modify timezone list to not use a masked link
  cs-CZ.js
  en.js
  ro-RO.js
  sk-NR.js
  sk-SK.js
Owners: @tt-bot-dev/cs-cz, @tt-bot-dev/maintainers, @tt-bot-dev/ro-ro, @tt-bot-dev/sk-sk

Update en.js
  en.js
Owners: @tt-bot-dev/maintainers

Fix CHANNEL_ROLE_VAL asking for a channel (#17)
  en.js
Owners: @tt-bot-dev/maintainers

Update en.js
  en.js
Owners: @tt-bot-dev/maintainers

fix QUESTION_ROLE_VAL saying channel instead of role on v4 as well (#18)
  en.js
Owners: @tt-bot-dev/maintainers

Add store displaying support
  cs-CZ.js
  en.js
Owners: @tt-bot-dev/cs-cz, @tt-bot-dev/maintainers

Edit IMAGE_CAVEATS to reflect the emulation of slow gifs
  cs-CZ.js
  en.js
Owners: @tt-bot-dev/cs-cz, @tt-bot-dev/maintainers

Housekeeping + guild locales
  README.md
  cs-CZ.js
  en.js
  ro-RO.js
  sk-NR.js
  sk-SK.js
Owners: @tt-bot-dev/maintainers, @tt-bot-dev/cs-cz, @tt-bot-dev/ro-ro, @tt-bot-dev/sk-sk

Meta changes to README
  README.md
Owners: @tt-bot-dev/maintainers

Patches for languages
  cs-CZ.js
  en.js
Owners: @tt-bot-dev/cs-cz, @tt-bot-dev/maintainers

Introduce good old eslint into i18n
  .eslintrc.json
  cs-CZ.js
  en.js
  ro-RO.js
  sk-NR.js
  sk-SK.js
  trans.js
Owners: @tt-bot-dev/maintainers, @tt-bot-dev/cs-cz, @tt-bot-dev/ro-ro, @tt-bot-dev/sk-sk, @tttie

meta: rename uinfo to userinfo
  en.js
Owners: @tt-bot-dev/maintainers

wtf
  cs-CZ.js
Owners: @tt-bot-dev/cs-cz

Show licensing in welcome message
  cs-CZ.js
  en.js
Owners: @tt-bot-dev/cs-cz, @tt-bot-dev/maintainers

remove unused strings
  cs-CZ.js
  en.js
  ro-RO.js
  sk-NR.js
  sk-SK.js
Owners: @tt-bot-dev/cs-cz, @tt-bot-dev/maintainers, @tt-bot-dev/ro-ro, @tt-bot-dev/sk-sk

update license year
  LICENSE
Owners: @tt-bot-dev/maintainers

clean up the readme a bit
  README.md
Owners: @tt-bot-dev/maintainers

add donation info
  cs-CZ.js
  en.js
Owners: @tt-bot-dev/cs-cz, @tt-bot-dev/maintainers

sign off v4 languages (#16)
  .eslintrc.json
  LICENSE
  README.md
  cs-CZ.js
  en.js
  ro-RO.js
  sk-NR.js
  sk-SK.js
  trans.js
Owners: @tt-bot-dev/maintainers, @tt-bot-dev/cs-cz, @tt-bot-dev/ro-ro, @tt-bot-dev/sk-sk, @tttie

link to master branch
  cs-CZ.js
  en.js
Owners: @tt-bot-dev/cs-cz, @tt-bot-dev/maintainers

add gitattributes
  .gitattributes
Owners: @tt-bot-dev/maintainers

Add mirror to owo
  .github/workflows/mirror.yml
Owners: @tt-bot-dev/maintainers

Upload with upstream & HEAD
  .github/workflows/mirror.yml
Owners: @tt-bot-dev/maintainers

🚧 start migrating to formatjs
  .eslintignore
  .eslintrc.json
  .gitignore
  README.md
  cs-CZ.json
  en.json
  ro-RO.json
  sk-NR.json
  sk-SK.json
Owners: @tt-bot-dev/maintainers

Update Crowdin configuration file
  crowdin.yml
Owners: @tt-bot-dev/maintainers

New translations en.json (Romanian)
  ro-RO.json
Owners: @tt-bot-dev/maintainers

New translations en.json (Czech)
  cs-CZ.json
Owners: @tt-bot-dev/maintainers

New translations en.json (Slovak)
  sk-SK.json
Owners: @tt-bot-dev/maintainers

New translations en.json (Slovak (Nitranske nareci))
  sk-NR.json
Owners: @tt-bot-dev/maintainers

New translations en.json (Romanian)
  ro-RO.json
Owners: @tt-bot-dev/maintainers

New translations en.json (Czech)
  cs-CZ.json
Owners: @tt-bot-dev/maintainers

New translations en.json (Slovak)
  sk-SK.json
Owners: @tt-bot-dev/maintainers

New translations en.json (Slovak (Nitranske nareci))
  sk-NR.json
Owners: @tt-bot-dev/maintainers

🎉 Happy 2021 Update licensing year
  LICENSE
Owners: @tt-bot-dev/maintainers

New translations en.json (Romanian)
  ro-RO.json
Owners: @tt-bot-dev/maintainers

.github/CODEOWNERS:

# When the language isn't known or is being added, notify the maintainers
*       @tt-bot-dev/maintainers

# Lookie here, something in English is borked. Notify maintainers
en.js   @tt-bot-dev/maintainers

# trans.js is a language that allows you to show contexts. Don't disturb Vlag in this case, because it's my borks.
trans.js @tttie

# Notify the translators.
cs-*.js @tt-bot-dev/cs-cz
sk-*.js @tt-bot-dev/sk-sk
ro-*.js @tt-bot-dev/ro-ro
